.hero {
	display: grid;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	/*background: #158ab1;*/
    background: #ADD8E6; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #ADD8E6, #68b2ca);
    background: -moz-linear-gradient(right, #ADD8E6, #68b2ca);
    background: -o-linear-gradient(right, #ADD8E6, #68b2ca);
    background: linear-gradient(to left, #ADD8E6, #68b2ca);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
    
}
  .h1hero{
		font-size: 6em;
		margin: 0 90px;
		text-align: center;
}

.section {
	max-width: 900px;
	margin: 60px auto;
	padding: 90px 30px;
	background-color: #68b2ca;
	text-align: center;
}
	.h2section {
		font-size: 3em;
		margin-bottom: 15px;
	}
	.psection {
		line-height: 1.625em;
		margin: 0 auto;
		max-width: 480px;
	}

.company-name {
    font-weight: 500;
}
  
footer {
	text-align: center;
}